Package: [[name]]-system
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: phpunit
Source: https://dash.pingworks.net/git
Homepage: https://dash.pingworks.net
Vcs-Browser: https://dash.pingworks.net/git
Vcs-Git: https://dash.pingworks.net/git/repo/dash.git 
Maintainer: Christoph Lukas <dash@pingworks.de>
Description: Dash System Tests
Distribution: development
