Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Source: [[name]]
Homepage: https://dash.pingworks.net
Vcs-Browser: https://dash.pingworks.net/git
Vcs-Git: https://dash.pingworks.net/git/repo/dash.git 
Maintainer: Christoph Lukas <dash@pingworks.de>
Description: Dash Frontend
Distribution: development
